<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Budget</title>
    <link href="/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji|Poor+Story|Reenie+Beanie|Work+Sans:300,500,700" rel="stylesheet">
  </head>
  <body>
    <div id="top-bar">
      <a href="/user-index"><img class='logo' src="./logo.png"></img></a>
    </div>
    <div class='nav-bar'>
      <ul>
        <li><a href='/logout'>Log Out</a></li>
      </ul>
    </div>
    <ul>
        <li><a href = "/user-settings">Account Details</a></li>
        <li><a href = "/user-budgets">Budgets</a></li>
    </ul>
    <h3>Email</h3>
    <p>{{user.email}}</p>
    <br />
    <h4><a href = "/update-password">Update Password</a></h4>
    <br />
    <h3><a href = "/delete-account">Delete Account</a></h3>

    {{info}}
  </body>
</html>
