<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Account Details</title>
    <link href="/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji|Poor+Story|Reenie+Beanie|Work+Sans:300,500,700" rel="stylesheet">
  </head>
  <body>
    <div class="topnav" id="myTopnav">
        <a href="/user-index" id="nav-a"><img class="logo" src="./images/logo.png"></img></a>
        <a href="/user-index" class="active">Home</a>
        <a href="/user-settings">Settings</a>
        <a href="/user-budgets">Budgets</a>
        <a href="/logout">Log Out</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <h3>Email</h3>
    <p>{{user.email}}</p>
    <br />
    <h4><a href = "/update-password">Update Password</a></h4>
    <br />
    <h3><a href = "/delete-account">Delete Account</a></h3>

    {{info}}
  </body>
  <script src="/client.js"></script>
</html>
