<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Budget</title>
    <link href="/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji|Poor+Story|Reenie+Beanie|Work+Sans:300,500,700" rel="stylesheet">
  </head>
  <body>
        <div id="top-bar">
            <a href="/user-index"><img class="logo" src="./logo.png"></img></a>
            <a class="welcome">&nbsp{{username}},</a>
            <div id="main">
                <button class="openbtn" onclick="openNav()">User Profile</button> 
                {{! &#9776; }}
            </div>

            <div class="nav-bar">
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/user-settings">Settings</a>
                <a href = "/user-budgets">Budgets</a>
                <a href="/logout">Log Out</a>
                </div>

                
            </div>
        </div>

    <div class="card1">
      <div class="card1Cont">
    <h1 id="budget-title">Add Budget</h1>
   <form action="/new-budget" method="POST">
      <div class="custom-select" style="width:200px">
        <label for = "category">
        <select id="category" name="category">
          <option value="Food">Food</option>
          <option value="Education">Education</option>
          <option value="Housing">Housing</option>
          <option value="Transportation">Transportation</option>
          <option value="Entertainment">Entertainment</option>
          <option value="Personal Expenses">Personal Expenses</option>
          <option value="Bills">Bills</option>
          <option value="Other">Other</option>
        </select>
        <input class="transactionBox" type = "text" name = "amount" placeholder="Enter Amount"/>
      </div>
      <div><p>{{message}}</p></div>
    <input class="Addbtn" type = "submit" value = "Add Budget" onclick="evalForm(event)" />
  </form>
   <div class="pngPlus"></div>
            </div>
        </div>

    <h3>Budgets</h3>
    <table>
        <tr>
        <th></th>
        <th>Category</th>
        <th>Amount</th>
        <th></th>
      </tr>
      {{#budgets}}
      <tr>
        <td>
          <form action = "/delete-budget" method = "POST">
            <input type = "hidden" name = "budgetid" value = "{{id}}"/>
            <input type = "submit" value = "X" />
          </form>
        </td>
        <td>
          {{category}}
        </td>
        <td>
            <form action='/update-budget' method='POST'>
              <input type = "hidden" name = "budgetid" value = "{{id}}" />
              <input type = "hidden" name = "category" value = "{{category}}" />
              <input type = "text" name="amount" value = "{{amount}}" />
        </td>
        <td>
              <input type = "submit" value = "Update Budget" />
            </form>
          </div>
        </td>
      </tr>
      {{/budgets}}
    </table>

  </body>
   <script src="/client.js"></script>
    <script src="/popupS.min.js"></script>
</html>
