<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji|Poor+Story|Reenie+Beanie|Work+Sans:300,500,700" rel="stylesheet">
  </head>
  <body>
  <div class="topnav" id="myTopnav">
    <a href="/user-index" id="nav-a"><img class="logo" src="./images/logo.png"></img></a>
    <a href="/user-index" class="active">Home</a>
    <a href="/user-settings">Settings</a>
    <a href="/user-budgets">Budgets</a>
    <a href="/logout">Log Out</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
  <div class='loginForm'>
    <h2>Delete Account</h2>
    <form action='/delete-account' method='POST'>
      <p>Are you sure you wish to delete your account?<br>All transaction history will be lost.</p>
      <a href='/user-settings'>Go Back</a>
      <input class='deleteBtn' type='submit' value='DELETE' />
    </form>
    {{message}}
  </div>
</body>
<script src="/client.js"></script>
<script src="/popupS.min.js"></script>

</html>
