<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link href="/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji|Poor+Story|Reenie+Beanie|Work+Sans:300,500,700" rel="stylesheet">
  </head>
  <body>
    <div id="top-bar">
        <a href="/user-index"><img class="logo" src="./logo.png"></img></a>
        <a>{{username}}</a>
    </div>
    <div class="nav-bar">
        <li><a href='/user-settings'>User</a></li>
        <li><a href='/logout'>Log Out</a></li>
    </div>
    <h1>Delete Account</h1>
      <div class='loginForm'>
        <form action='/delete-account' method='POST'>
          <p>Are you sure you wish to delete your account?<br>All transaction history will be lost.</p>
          <a href='/user-settings'>Go Back</a>
          <input type='submit' value='DELETE'/>
        </form>
      </div>
      {{message}}
  </body>
</html>
