<html>
    <head>
        <link href="/style.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji|Poor+Story|Reenie+Beanie|Work+Sans:300,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="/popupS.min.css">
    </head>
    <body>
        
        <div id="top-bar">
            <a href="/user-index"><img class="logo" src="./logo.png"></img></a>
            <a class="welcome">&nbsp{{username}},</a>
            <div id="main">
                <button class="openbtn" onclick="openNav()">User Profile</button> 
                {{! &#9776; }}
            </div>

            <div class="nav-bar">
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/user-settings">Settings</a>
                <a href = "/user-budgets">Budgets</a>
                <a href="/logout">Log Out</a>
                </div>

                
            </div>
        </div>
        
        
        <div class="card1">
            <div class="card1Cont">
            <h1>Add New Transactions</h1>
            <form action="/new-transaction" method="POST">
                <input class="transactionBox" type="text" name="name" placeholder="Enter Name"/>
                <p></p>
                <input class="transactionBox" type="text" name="amount" placeholder="Enter Amount"/>
                 <p></p>
                        <div class="custom-select" style="width:250px;">
                            <select id="cat" name="category">
                                <option value="0">Select Category:</option>
                                <option value="Food">Food</option>
                                <option value="Education">Education</option>
                                <option value="Housing">Housing</option>
                                <option value="Transportation">Transportation</option>
                                <option value="Entertainment">Entertainment</option>
                                <option value="Personal Expenses">Personal Expenses</option>
                                <option value="Bills">Bills</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <p></p>
                        <input class="Addbtn" type = "submit" value = "Add Transaction" onclick="evalForm(event)" />
                </form>
                <div class="pngPlus"></div>
            </div>
        </div>
        
        <div class="card2">
            <div class="card2Cont">
                <h2 style="color: rgb(192, 159, 50)">Transactions</h2>
                <h3 style="color: rgb(192, 159, 50)">Filters</h3>
                    <form action="/filter-transactions" method="POST">
                        <select name="category">
                            <option value="All">All</option>
                            <option value="Food">Food</option>
                            <option value="Education">Education</option>
                            <option value="Housing">Housing</option>
                            <option value="Transportation">Transportation</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Personal Expenses">Personal Expenses</option>
                            <option value="Bills">Bills</option>
                            <option value="Other">Other</option>
                        </select>
                        <select name = "timeFilter">
                            <option value = "all">All</option>
                            <option value = "today">Today</option>
                            <option value = "week">This Week</option>
                            <option value = "month">This Month</option>
                        </select>
                        <input type = "submit" value = "Filter" />
                    </form>
              
          <h4>{{budgetUpdate}}</h4>
          <h4>{{message}}</h4>
        
                {{! <div class="transactions"> }}
                    {{#transactions}}
                    <h3>{{name}}</h3><p>---- Amount: ${{amount}}---- Category: {{category}}--- Description: {{description}}</p>
                        <form action="/delete-transaction" method="POST">
                            <input type="hidden" name="id" value="{{id}}"/>
                            <input type="submit" value="Remove" />
                        </form>
                    
                    {{/transactions}}
             </div>
          
        </div>
        
    </body>
    <script src="/client.js"></script>
    <script src="/popupS.min.js"></script>
</html>
