<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <div class='navBar'>
      <ul>
        <li><a href='/login'>Login</a><li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <h1>Welcome to Expense Tracker</h1>
    <p>Need to register?<a href='/register'>Click here.</a></p>
      <div class='loginForm'>
        <form action='/login' method='post'>
          <input type='text' name='loginUsername' placeholder="Enter username"/>
          <input type='password' name='loginPassword' placeholder="Enter password"/>
          <input type-'submit' value='Login'/>
        </form>
      </div>
  </body>
</html>
