<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login</title>
    <link href="/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji|Poor+Story|Reenie+Beanie|Work+Sans:300,500,700" rel="stylesheet">
  </head>
  <body>
    <div class="login">
      <a href="/user-index"><img class='logo' src="./logo.png"></img></a></li>
    </div>
    <p>Need to register?<a href='/register'>Click here.</a></p>
    <div class='loginForm'>
      <form action='/login' method='post'>
        <input type='text' name='loginUsername' placeholder="Enter username"/>
        <input type='password' name='loginPassword' placeholder="Enter password"/>
        <input type='submit' value='Login'/>
      </form>
    </div>
    {{message}}
  </body>
</html>
