<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link href="/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji|Poor+Story|Reenie+Beanie|Work+Sans:300,500,700" rel="stylesheet">
  </head>
  <body>
    <div id="top-bar">
        <a href="/user-index"><img class="logo" src="./logo.png"></img></a>
        <label>{{username}}</label>
    </div>
    <div class="nav-bar">
        <li><a href='/user-settings'>User</a></li>
        <li><a href='/logout'>Log Out</a></li>
    </div>
    <h1>Change Password</h1>
      <div class='loginForm'>
        <form action='/update-password' method='POST'>
          <input type='password' name='oldPassword' placeholder="Enter old password"/>
          <input type='password' name='newPassword' placeholder="Enter new password"/>
          <input type='password' name='confirmPassword' placeholder="Re-type new password"/>
          <input type='submit' value='Submit'/>
        </form>
      </div>
      {{message}}
  </body>
</html>
