html {
    font-family: 'Quicksand', sans-serif;
    color: rgb(85, 85, 85);
}

body{
    margin:0 !important;
}

.nav-bar{
    text-transform: uppercase;
    font-size:14px;
    font-family: 'Baloo Paaji', cursive;
    list-style: none;
    flex-direction: row !important;
    justify-content: flex-end;
    margin-left: 20px;

}
a{
    text-decoration:none;
}

.logo{
    position: absolute;
    top: -40px;
    height: 200px;
    width: 200px;
}

#top-bar{
    background-color:rgb(201, 250, 199);
    box-sizing: border-box;
    height: 100px;
    width: 100%;
}

#top-bar{
    background-color:#E8F7E7;

}

div{
    display:flex;
    flex-direction: column;
}
.welcome {
    font-size: 40px;
    position: relative;
    margin: 30px;
    margin-left: 720px;
}
.card1 {
    position: relative;
    left: 650px;
    margin: 20px;
    width: 500px;
    height: 250px;;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px 2px 2px 2px;
    border-color: rgb(28, 117, 36);
    box-shadow: 0px 9px 30px 4px #888888;
}
.card1Cont{
    position: absolute;
    left: 50px;
    padding: 10px;
    color: rgb(71, 192, 60);
}
.transactionBox{
    border:none;
    font-style: 20px;
}
#cat {
    border-radius: 20px;;
    font-style: 20px;
}
.Addbtn {
    background: white;
    border: none;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.Addbtn:hover{
    border-radius: 20px;
    background-color: #4CAF50;
    color: white;
}

/* card2 */
.card2 {
    position: relative;
    top:10px;
    left: 520px;
    margin: 20px;
    padding: 30px;
    width: 700px;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px 2px 2px 2px;
    border-color: rgb(163, 111, 28);
    box-shadow: 0px 9px 30px 4px #888888;
}
.card2Cont{
    position: inherit;
    left: 50px;
    padding: 10px;
    color: rgb(163, 124, 18);
}
/* .transactions {
     position: absolute;
    top: 200px;
    left: 50px;
    padding: 10px;
    color: black;
}  */
